@use "variables" as *;
@use "sass:color";

.toggle-container {
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 5px 10px;
  background-color: $background-light;
  border: 2px solid $background-dark;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &.dark {
    background-color: $background-dark;
    border-color: $secondary-color;
  }
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  background: $secondary-color;
  border-radius: 50px;
  transition: background 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 5px;
    background: $background-dark;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  &.dark::before {
    left: calc(100% - 25px);
    background: $text-dark;
  }
}

.icon-light {
  transition: stroke 0.3s ease;

  path {
    stroke: $background-dark;
  }

  &.dark path {
    stroke: $secondary-color;
  }
}